@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #111827;
  --border: #e5e4e7;
  
  background-color: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --text: #f3f4f6;
    --border: #2e303a;
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

code {
  background: var(--border);
  padding: 2px 4px;
  border-radius: 4px;
}
